:root{
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --oscuro: #212121;
}

/*Globales*/
html, body{
    position: relative;
    height: 100%;
}

body{
    background-color: #323232;
    font-family: Helvetica Neue, Helvetica;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.swiper{
    width: 100%;
    padding: 150px 0px 50px 0;
}

.swiper-slide{
    width: 300px;
    height: 500px;
    background-color: #323232;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i{
    font-size: 20px;
    color: #ffB900;
}

.icons img{
    width: 120px;
}

.product-content{
    display: flex;
    justify-content: space-between;
}

.product-txt{
    flex-basis: 50%;
    text-align: left;
}

.product-txt span{
    font-size: 25px;
    color: #ffB900;
    font-weight: bold;
}

.product-txt h3{
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.product-txt p{
    font-size: 14px;
    color: #C4C4C4;
}

.product-img{
    flex-basis: 50%;
    text-align: right;
}

.product-img img{
    width: 120px;
}


.contenedorDisco{
    max-width: 10rem;
    margin: 0 auto;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, .54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, .54);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, .54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.btn-1{
    display: inline-block;
    padding: 13px, 55px;
    border: 1px solid #ffB900;
    border-radius: 25px;
    color: #ffB900;
    text-decoration: none;
    margin-top: 50px;
}

.boton {
    background-color: darkcyan;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 50%;
    text-align: center;
    border: none;
}

/*Tipografia*/
h1{
    font-size: 4rem;
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*Discos*/
@media(min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Navegacoin*/
    .nav-bg {
        background-color: var(--gris);
    }

    .navegacion-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 768px) {
        .navegacion-principal {
            flex-direction: row;
            justify-content: left;
        }
    }

    .navegacion-principal a {
        display: block;
        text-align: center;
        color: var(--grisClaro);
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem;
    }

    .navegacion-principal a:hover {
        color: var(--oscuro);
    }

/* Clases para el carrito de compra */

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px 0;
    }

    #cart-icon{
        font-size: 1.8rem;
        cursor: pointer;
    }

    .cart{
        position: fixed;
        top: 0;
        right: 0;
        right: -100%;
        width: 360px;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px;
        background-color: var(--grisClaro);
        box-shadow: -2px solid 4px hsl(0, 4%, 15%, 0.1);
        border: 1px solid var(--grisClaro);
        transition: 1.7s;
    }

    .cart.active{
        right: 0;
        transition: .5s ease;
    }

    .cart-title{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 2rem;
    }

    .cart-box{
        display: grid;
        grid-template-columns: 32% 50% 18%;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .cart-img{
        width: 100px;
        height: 100px;
        object-fit: contain;
        padding: 10px;
    }

    .detail.box{
        display: grid;
        row-gap: .5rem;
    }

    .cart-product-title{
        font-size: 1rem;
        text-transform: uppercase;
    }

    .cart-price{
        font-weight: 500;
    }

    .cart-quantity{
        border: 1px solid --grisClaro;
        outline-color: #ffffff;
        width: 1.4rem;
        text-align: center;
        font-size: 1rem;
    }

    .car-remove{
        font-size: 24px;
        color: #757575;
        cursor: pointer;
    }

    .total{
        display: flex;
        justify-content: flex-end;
        margin-top: 1.5rem;
        border-top: 1px solid var(--grisClaro);
    }

    .total-title{
        font-size: 1rem;
        font-weight: 600;
    }

    .total-price{
        margin-left: .5rem;
    }

    .btn-buy{
        display: flex;
        margin: 1,5rem auto 0 auto;
        padding: 12px 20px;
        border: none;
        background-color: aquamarine;
        color: #000;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: .4s;
    }

    .btn-buy:hover{
        background-color: greenyellow;
        color: red; 
    }

    #cart-close{
        position: absolute;
        top: 1rem;
        right: .8rem;
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer;
    }